<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}"
        fileName="${basedir}/logs/${shortdate}.txt"
       />

    <!-- Memory target stores logs in memory -->
    <target xsi:type="Memory" name="memory" layout="${longdate} ${logger} ${message}" />

    <!-- target to block Microsoft logs -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!-- Microsoft provides a lot of logs this logger mutes them --> 
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="memory" />
  </rules>
</nlog>